@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

*{
    font-family: 'DotGothic16', sans-serif; 
    zoom: 90%;
}

#windOne{
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

#windTwo{
    grid-column: 3;
    grid-row: 1;
    text-align: center;
}

#scrnum{
    color: red;
    font-size: 44px;
}

.flex-container{
 display: grid;
 grid-template-rows: 5 1fr;
 grid-template-columns: 3 1fr 1fr 1fr;
 /* border: red solid 2px; */
  justify-content: center;
  align-items: center;
  margin: 1fr;
  background-image: ;
  
}

h1{
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    font-size: 4em;
    grid-column: 1/ span 3;
}

.nameOne{
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    font-size: 2em;
}

.nameTwo{
    grid-column: 3;
    grid-row: 3;
    text-align: center;
    font-size: 2em;
}

.vs{
    grid-column: 2;
    grid-row:2 ;
    text-align: center;
    font-size: 80px;
    -webkit-text-stroke: 1px red;
    
}


.creativity{
    grid-column: 3;
    grid-row: 2;
    margin: auto;
}

.moleHunter{
    grid-row: 2;
    grid-column: 1;
}

.hide{
    display: none;
}

.varMessage{
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    font-size: 35px;
}


#score{
    text-align: center;
    font-size: 35px;
    grid-column: 1;
    grid-row: 4;
    max-width: 100%;
    font-size: 2em;
}
#lives{
    text-align: center;
    grid-column: 3;
    grid-row: 4;
    max-width: 100px;
    font-size: 1.3em;
    margin: auto;
    
}
.starter{
    grid-column: 2;
    grid-row: 5;
    margin: 10 auto;
    font-size: 35px;
    color: white;
    padding: 20px;
}

.starter:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px green;
}

#restartButton{
    margin: 25px 25px 80px auto;
    font-size: 35px;
    color: white;
}

.game
{
	width: 60vw;
	height: 60vh;
	margin: 50px auto;
    color: #fff;
    border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 300px) / repeat(3, 300px);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.hole
{
    border: solid black 1px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-radius: 100%;
  background-image: 
  /* cursor: url(/Hammer\ Clicker.png), pointer ; */

  
 
  
}

.DIY{
    font-size: 35px;
    background-color: red;
    grid-row: 7;
    grid-column: 1/ span 3;
    text-align: center;
}

.restart{
    grid-column: 2;
    text-align: center;
    font-size: 35px;
    padding: 20px;
   

}

/* .glow{
    border-radius: 100%;
    box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px red,   /* inner left magenta short */
    inset -20px 0 80px black,  /* inner right cyan short */
    inset 20px 0 300px red,  /* inner left magenta broad */
    inset -20px 0 300px black, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px red,        /* outer left magenta */
    10px 0 80px black;    }    /* outer right cyan */





    @media(max-width: 500px){
        *{
            zoom: normal;
        }
        #scrnum{
            color: red;
            font-size: 25px;
            margin: 1px 1px 1px 1px;
        }

        body{
            height: 400px;
        }
        
        .flex-container{
         display: grid;
         grid-template-rows: 6 1fr;
         grid-template-columns: 3 1fr 1fr 1fr;
         /* border: red solid 2px; */
          justify-content: center;
          align-items: center;
          margin: 1fr;
          background-image: ;
          
        }
        
        h1{
            text-align: center;
            grid-row: 1;
            grid-column: 1/ span 3;
            font-size: 20px;
        }
        
        .nameOne{
            grid-column: 1;
            grid-row: 2;
            text-align: center;
            font-size: 15px;
        }
        
        .nameTwo{
            grid-column: 3;
            grid-row: 2;
            text-align: center;
            font-size: 15px;
        }
        
        .vs{
            grid-column: 2;
            grid-row:3 ;
            text-align: center;
            font-size: 18px;
            
        }
        
        
        .creativity{
            grid-column: 3;
            grid-row: 3;
            margin: auto;
            padding: 10px;
            text-align: center;
            justify-content: center;
        }
        
        .moleHunter{
            grid-row: 3;
            grid-column: 1;
            padding: 10px;
        }
        
        .hide{
            display: none;
        }
        
        .varMessage{
            grid-column: 2;
            grid-row: 4;
            text-align: center;
            font-size: 1em;
            grid-column: 1/ span 3;
        }
        
        
        #score{
            text-align: center;
            font-size: 25px;
            grid-column: 1;
            grid-row: 5;
            margin: 1px 1px 1px 1px
        
        }
        #lives{
            text-align: center;
            grid-column: 3;
            grid-row: 5;
            max-width: 100px;
            font-size: 1.3em;
            margin: auto;
            
            
        }
        #liveimage{
            height: 50px;
            width: 80px;
        }
        .starter{
            grid-column: 2;
            grid-row: 5;
            margin: 10 auto;
            font-size: 15px;
            color: white;
            padding: 10px;
        }
        
        .starter:hover{
            cursor: pointer;
            box-shadow: 5px 5px 5px green;
        }
        
        #restartButton{
            margin: 25px 25px 80px auto;
            font-size: 15px;
            color: white;
        }
        
        .game
        {
            width: 6vw;
            height: 6vh;
            margin: 50px auto;
            color: #fff;
            border-radius: 10px;
            display: grid;
            grid-template: repeat(3, 100px) / repeat(3, 100px);
            background-repeat: no-repeat;
            background-size: cover;
            justify-content: center;
        }
        
        .hole
        {    border-image: url(grass.jpeg) 3 / 1px / 1px round; cursor: url(Hammer\ Clicker.png);
            border: solid brown 1px;
          display: grid;
          justify-content: center;
          align-items: center;
          background-size: cover;
          /* cursor: url(/Hammer\ Clicker.png), pointer ; */
        
          
         
          
        }
        #molepic{
            height: 100px;
            width:100px;
        }
        
        .DIY{
            font-size: 15px;
            background-color: red;
            grid-row: 7;
            grid-column: 1/ span 3;
            text-align: center;
        }
        
        .restart{
            grid-column: 2;
            text-align: center;
            font-size: 35px;
            padding: 20px;
           
        
        }
        #Molo{
            height: 150px;
            width: 150px;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        #Farmer{
            height: 150px;
            width: 150px;
        }

        .credits{
            font-size: .3em;

}

