@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

*{
    font-family: 'DotGothic16', sans-serif;
}


.flex-container{
 display: grid;
 grid-template-rows: 4 1fr;
 grid-template-columns: 3 1fr 1fr 1fr;
 /* border: red solid 2px; */
  justify-content: center;
  align-items: center;
  margin: 1fr;
  
}

h1{
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    font-size: 80px;
}




.creativity{
    grid-column: 3;
    grid-row: 2;
    margin: auto;
}

.moleHunter{
    grid-row: 2;
    grid-column: 1;
}

.hide{
    display: none;
}



#score{
    text-align: center;
    font-size: 35px;
    grid-column: 1;
    grid-row: 3;
    max-width: 100%;
    font-size: 2em;
}
#lives{
    text-align: center;
    grid-column: 3;
    grid-row: 3;
    max-width: 100px;
    font-size: 1.3em;
    margin: auto;
    
}
.starter{
    grid-column: 2;
    grid-row: 4;
    margin: auto;
    font-size: 35px;
}

#restartButton{
    font-size: 35px;
}

.game
{
	width: 60vw;
	height: 60vh;
	margin: 50px auto;
    color: #fff;
    border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 350px) / repeat(3, 350px);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.hole
{
    border: solid red 1px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
 
  
}

.button{
    grid-column: 2;
    text-align: center;
    font-size: 35px;
}

@media(max-width: 400px){
.game{
    height: 106px;
   
}

.hole{
    width: 100px;
    height: 100px;
}

.mole{
    height: 100px;
    width: 100px;
}

img{
    width: 100px;
    height: 100px;
}

}
