body{
    
}


.flex-container{
 display: grid;
 grid-template-rows: 3 1fr;
 grid-template-columns: 3 1fr 1fr 1fr;
 /* border: red solid 2px; */
  justify-content: center;
  align-items: center;
  margin: 1fr;
  
}

h1{
    text-align: center;
    grid-row: 1;
    grid-column: 2;
}




.creativity{
    grid-column: 3;
    grid-row: 2;
    margin: auto;
}

.moleHunter{
    grid-row: 2;
    grid-column: 1;
}

.hide{
    display: none;
}

#score{
    text-align: center;
    font-size: 35px;
    grid-column: 1;
    grid-row: 3;
    max-width: 100%;
    font-size: 2em;
}
#lives{
    text-align: center;
    grid-column: 3;
    grid-row: 3;
    max-width: 100px;
    font-size: 1.3em;
    margin: auto;
    
}
.starter{
    grid-column: 2;
    grid-row: 3;
    margin: auto;
}

.game
{
	width: 60vw;
	height: 60vh;
	margin: 50px auto;
   imag
  color: #fff;
  border-radius: 10px;
	display: grid;
	grid-template: repeat(3, .5fr) / repeat(3, .5fr);
    background-repeat: no-repeat;
    background-size: cover;
}

.hole
{
    border: solid red 1px;
    border-image: url(/IMG_0260.PNG ) 30 stretch;
  display: grid;
  justify-content: center;
  align-items: center;
  
}

.button{
    grid-column: 2;
    text-align: center;
}
